<div class="p-5">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full shadow-none">

        <ng-container matColumnDef="column1">
            <th mat-header-cell *matHeaderCellDef class=" text-[#000000d9] text-sm font-bold">
                Dịch vụ bổ sung
            </th>
            <td mat-cell *matCellDef="let element" class=" text-center" style="padding: 4px;">
                <span class="mobile-label">Dịch vụ bổ sung:</span>
                <span class="text-sm mobile-span">{{element.column1}}</span>
            </td>
        </ng-container>
    
        <ng-container matColumnDef="column2">
            <th mat-header-cell *matHeaderCellDef class=" text-[#000000d9] text-sm font-bold">Bổ sung chứng nhận mới</th>
            <td mat-cell *matCellDef="let element" class=" break-all text-center" style="padding: 4px;">
                <span class="mobile-label">Bổ sung chứng nhận mới:</span>
                <span class="text-sm mobile-span">{{element.column2}}</span>
            </td>
        </ng-container>
    
        <ng-container matColumnDef="column3">
            <th mat-header-cell *matHeaderCellDef class=" text-[#000000d9] text-sm font-bold ">
                Tái chứng nhận
            </th>
            <td mat-cell *matCellDef="let element" class=" break-all text-center" style="padding: 4px;">
                <span class="mobile-label">Tái chứng nhận:</span>
                <span class="text-sm mobile-span">{{element.column3}}</span>
            </td>
        </ng-container>
    
    
        <tr class="mat-row" *matNoDataRow>
            <td class="border border-solid border-[#0000001f] border-t-0 break-all text-[13px] text-center p-5"
                [attr.colspan]="displayedColumns.length">
                Không có dữ liệu
            </td>
        </tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>
</div>
