<div class="w-full h-full relative">
  <div class="bg-[#196898] py-[10px] px-[15px]">
    <div class="text-white text-sm leading-[22px] break-words font-medium">
      <div>{{ tieu_de }}</div>
    </div>
  </div>

  <div
    class="max-w-[860px] mx-auto border border-solid border-gray-400 p-3 rounded shadow-lg"
  >
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <!-- UI -->
      <div class="w-full bg-white h-full ...">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
          <mat-tab label="Thông tin cơ bản">
            <div class="flex flex-row mt-2 ml-2 mr-2">

              <div class="basis-1/3 mr-3">
                <div class="w-full max-w-sm mt-2 mr-2">
                  <app-custominput [iteminput]="arrinput[0]" [form]="form">
                  </app-custominput>
                </div>
                <div class="w-full max-w-sm mt-2 mr-2">
                  <!-- ngày sinh -->
                  <app-custominput [iteminput]="arrinput[2]" [form]="form">
                  </app-custominput>
                  <!-- <mat-form-field appearance="outline">
                    <mat-label>Date of birth</mat-label>
                    //<input matInput [matDatepicker]="picker" formControlName="CopyText">
                    <mat-hint>dd/mm/yyyy</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field> -->
                <!-- <input type="date" name="" id=""> -->
                </div>
                <div class="w-full max-w-sm mt-2 mr-2">
                  <app-custominput [iteminput]="arrinput[4]" [form]="form">
                  </app-custominput>
                </div>
                <div class="w-full max-w-sm mt-2 mr-2">
                  <app-custominput [iteminput]="arrinput[6]" [form]="form">
                  </app-custominput>
                </div>
                <div class="w-full max-w-sm mt-2 mr-2">
                  <app-custominput [iteminput]="arrinput[9]" [form]="form">
                  </app-custominput>
                </div>

              </div>

              <div class="basis-1/3">
                <div class="w-full max-w-sm mt-2">
                  <div class="w-full max-w-sm mt-2 mr-2">
                    <app-custominput [iteminput]="arrinput[1]" [form]="form">
                    </app-custominput>
                  </div>
                  <div class="w-full max-w-sm mt-2 mr-2">
                    <app-custominput [iteminput]="arrinput[3]" [form]="form">
                    </app-custominput>
                  </div>
                  <div class="w-full max-w-sm mt-2 mr-2">
                    <app-custominput [iteminput]="arrinput[5]" [form]="form">
                    </app-custominput>
                  </div>
                  <div class="w-full max-w-sm mt-2 mr-2">
                    <app-custominput [iteminput]="arrinput[7]" [form]="form">
                    </app-custominput>
                  </div>
                  <div class="w-full max-w-sm mt-2 mr-2">
                    <app-custominput [iteminput]="arrinput[10]" [form]="form">
                    </app-custominput>
                  </div>

                </div>
              </div>
              <!-- ảnh -->
              <div class="basis-1/3 ml-3 mt-2">
                <div class="w-full max-w-sm">
                  <div class="">
                    <div class="md:w-1/3"></div>
                    <div class="flex items-center mb-4 justify-center">
                      <div
                        class="flex items-center flex-col justify-center text-center w-44 h-40 border-dashed border-2 border-indigo-600 ..."
                      >
                        <div class="mb-2">
                          <!-- src="https://mdbootstrap.com/img/new/standard/city/047.jpg" -->
                          <img
                          *ngIf="data.image !== undefined "
                            [src]="createImgPath(this.data.image)"
                            class="p-1 w-40 h-28 rounded-lg"
                            alt=""
                          />
                        </div>
                        <!-- <button
                          type="button"
                          class="py-1 px-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg"
                        >
                          ...
                        </button> -->
                        <app-uploadimage (onUploadFinished)="uploadFinished($event)"></app-uploadimage>
                      </div>
                    </div>
                  </div>
                  <span class="text-xs italic ml-6"
                    >Chú ý: chỉ được phép upload ảnh < 5MB</span
                  >
                  <div class="w-full max-w-sm mt-2"  style="margin-top: 10px;">
                    <app-custominput [iteminput]="arrinput[8]" [form]="form">
                    </app-custominput>
                  </div>
                  <div class="w-full max-w-sm mt-2">
                    <app-custominput [iteminput]="arrinput[11]" [form]="form">
                    </app-custominput>
                  </div>

                </div>

              </div>
            </div>
          </mat-tab>

          <mat-tab label="Thông tin pháp lý">
            <div class="flex flex-row mt-2 ml-2 mr-2">

              <div class="basis-1/3 mr-3">
                <div class="w-full max-w-sm mt-2 mr-2">
                  <app-custominput [iteminput]="arrinput[12]" [form]="form">
                  </app-custominput>
                </div>
                <div class="w-full max-w-sm mt-2 mr-2">
                  <app-custominput [iteminput]="arrinput[15]" [form]="form">
                  </app-custominput>
                </div>
                <div class="w-full max-w-sm mt-2 mr-2">
                  <app-custominput [iteminput]="arrinput[18]" [form]="form">
                  </app-custominput>
                </div>


              </div>

              <div class="basis-1/3">
                <div class="w-full max-w-sm mt-2">
                  <div class="w-full max-w-sm mt-2 mr-2">
                    <app-custominput [iteminput]="arrinput[13]" [form]="form">
                    </app-custominput>
                  </div>
                  <div class="w-full max-w-sm mt-2 mr-2">
                    <app-custominput [iteminput]="arrinput[16]" [form]="form">
                    </app-custominput>
                  </div>
                  <div class="w-full max-w-sm mt-2 mr-2">
                    <app-custominput [iteminput]="arrinput[19]" [form]="form">
                    </app-custominput>
                  </div>


                </div>
              </div>

              <div class="basis-1/3 ml-3">
                <div class="w-full max-w-sm mt-2 mr-2">
                  <app-custominput [iteminput]="arrinput[14]" [form]="form">
                  </app-custominput>
                </div>
                <div class="w-full max-w-sm mt-2 mr-2">
                  <app-custominput [iteminput]="arrinput[17]" [form]="form">
                  </app-custominput>
                </div>
                <div class="w-full max-w-sm mt-2 mr-2">
                  <app-custominput [iteminput]="arrinput[20]" [form]="form">
                  </app-custominput>
                </div>

              </div>
            </div>
          </mat-tab>

          <mat-tab label="Quan hệ gia đình">
            <div class="flex flex-row mt-2 ml-2 mr-2">
              <div class="basis-1/3 ml-7">
                <div class="w-full max-w-sm mt-2 mr-2">
                  <app-custominput [iteminput]="arrinput[21]" [form]="form">
                  </app-custominput>
                </div>
                <div class="w-full max-w-sm mt-2 mr-2">
                  <app-custominput [iteminput]="arrinput[22]" [form]="form">
                  </app-custominput>
                </div>
                <div class="w-full max-w-sm mt-2 mr-2">
                  <app-custominput [iteminput]="arrinput[23]" [form]="form">
                  </app-custominput>
                </div>
                <div class="w-full max-w-sm mt-2 mr-2">
                  <app-custominput [iteminput]="arrinput[24]" [form]="form">
                  </app-custominput>
                </div>

              </div>

              <div class="basis-1/3 ml-7 ">
                <div class="w-full max-w-sm mt-2 mr-2">
                  <app-custominput [iteminput]="arrinput[25]" [form]="form">
                  </app-custominput>
                </div>
                <div class="w-full max-w-sm mt-2 mr-2">
                  <app-custominput [iteminput]="arrinput[26]" [form]="form">
                  </app-custominput>
                </div>
                <div class="w-full max-w-sm mt-2 mr-2">
                  <app-custominput [iteminput]="arrinput[27]" [form]="form">
                  </app-custominput>
                </div>
                <div class="w-full max-w-sm mt-2 mr-2">
                  <app-custominput [iteminput]="arrinput[28]" [form]="form">
                  </app-custominput>
                </div>

              </div>

              <div class="basis-1/3 ml-7">
                <div class="w-full max-w-sm mt-2 mr-2">
                  <app-custominput [iteminput]="arrinput[29]" [form]="form">
                  </app-custominput>
                </div>
                <div class="w-full max-w-sm mt-2 mr-2">
                  <app-custominput [iteminput]="arrinput[30]" [form]="form">
                  </app-custominput>
                </div>
                <div class="w-full max-w-sm mt-2 mr-2">
                  <app-custominput [iteminput]="arrinput[31]" [form]="form">
                  </app-custominput>
                </div>
                <div class="w-full max-w-sm mt-2 mr-2">
                  <app-custominput [iteminput]="arrinput[32]" [form]="form">
                  </app-custominput>
                </div>

              </div>
            </div>
          </mat-tab>

          <!-- <mat-tab label="Quá trình công tác">
            <div class="overflow-x-auto relative">
              <table
                class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
              >
                <thead
                  class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
                >
                  <tr>
                    <th scope="col" class="py-3 px-6">Tên công ty</th>
                    <th scope="col" class="py-3 px-6">Chức vụ</th>
                    <th scope="col" class="py-3 px-6">Thời gian</th>
                    <th scope="col" class="py-3 px-6">Giải thưởng</th>
                  </tr>
                </thead>
                <tbody id="tbContent">
                  <tr
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
                  >
                    <th
                      scope="row"
                      class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                      Một thành viên HD
                    </th>
                    <td class="py-4 px-6">Quản lý</td>
                    <td class="py-4 px-6">2018-2021</td>
                    <td class="py-4 px-6"></td>
                  </tr>
                  <tr
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
                  >
                    <th
                      scope="row"
                      class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    >
                      Một thành viên HD2
                    </th>
                    <td class="py-4 px-6">Leader PC</td>
                    <td class="py-4 px-6">2018-2021</td>
                    <td class="py-4 px-6">Giải nhất đá bóng</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <button
              class="bg-gray-500 mt-3 text-white font-bold py-2 px-4 border border-gray-700 rounded"
            >
              Thêm
            </button>
          </mat-tab> -->
        </mat-tab-group>
      </div>

      <!-- action -->
      <div class="col-span-1 md:col-span-2">
        <button
          type="submit"
          [attr.disabled]="form.invalid ? '' : null"
          [ngClass]="{
            'bg-[#196898]': form.valid,
            'bg-[#849faf]': !form.valid
          }"
          class="leading-[1.5] relative inline-block font-normal text-center cursor-pointer h-8 px-[15px] text-white text-[13px] mr-[5px] my-[5px]"
        >
          Cập nhật
        </button>
        <button
          type="button"
          (click)="onClose('')"
          class="bg-red-500 leading-[1.5] relative inline-block font-normal text-center cursor-pointer h-8 px-[15px] text-white text-[13px] mr-[5px] my-[5px]"
        >
          Huỷ bỏ
        </button>
      </div>
    </form>
  </div>

  <button
    class="absolute top-0 right-0 h-[43px] w-[43px] text-white"
    (click)="onClose('')"
  >
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
</div>
