<h4 class="ml-2 mt-4">Lịch sử truy cập nhân viên Nguyễn Hoàng Minh</h4>
<div class="timeline">
  <div class="container left">
    <div class="content">
      <h2 class="text-slate-400">1 giờ trước</h2>
      <p>Thêm nhân viên Nguyễn Văn A</p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2 class="text-slate-400">2 giờ trước</h2>
      <p>Thêm nhân viên Nguyễn Văn B</p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h2 class="text-slate-400">3 giờ trước</h2>
      <p>Xem chi tiết nhà cung cấp <p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2 class="text-slate-400">4 giờ trước</h2>
      <p>Xóa nhân viên Trần Bình Minh</p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2 class="text-slate-400">4 giờ trước</h2>
      <p>Sửa vai trò nhân viên Bình từ nhân viên lên Leader</p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h2 class="text-slate-400">5 giờ trước</h2>
      <p>Xuất khẩu excel báo cáo nhân viên</p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h2 class="text-slate-400">5 giờ trước</h2>
      <p>Xem chi tiết báo cáo nhân viên</p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2 class="text-slate-400">5 giờ trước</h2>
      <p>Đăng nhập thành công</p>
    </div>
  </div>
</div>
