<div wire:loading class="fixed top-0 left-0 right-0 bottom-0 w-full h-screen z-[15000] overflow-hidden bg-gray-700 opacity-75 md:flex md:flex-col md:items-center md:justify-center">
	<div class="text-center md:mt-0 mt-28">
		<div class="w-full flex justify-center">
			<div class="loader ease-linear rounded-full border-4 border-t-4 border-gray-200 h-12 w-12 mb-4"></div>
		</div>		
		<h2 class="text-center text-white text-xl font-semibold">Đang tải...</h2>
		<p class="text-center text-white">Vui lòng chờ trong giây lát</p>
	</div>

</div>

