<button (click)="thongbao()">Thông báo</button>
<div class="flex flex-col md:flex-row flex-wrap py-[20px] px-5">
    <div class="bg-[#f3f7f9] mb-5 mr-[30px] flex items-center">
        <div
            class="bg-red-600 h-[147.61px] w-full md:w-[250px] shadow-md rounded-[16px] flex flex-row justify-between cursor-pointer">
            <div class="flex grow pl-4 fle justify-center flex-col">
                <div class="font-sans not-italic font-medium text-xl leading-[23px] uppercase text-white mb-4">
                    Số người</div>
                <div class="font-sans not-italic font-bold text-[26px] leading-[21px] text-white">{{count_user}}
                </div>
            </div>
            <!-- <div class="flex flex-col items-center justify-center pr-4">
                <img _ngcontent-uns-c35="" src="{{item.image_src}}">
            </div> -->
        </div>
    </div>
</div>